html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fdf6e3;
}

header,
footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: san-serif;
}

h1 {
  text-transform: uppercase;
}

main {
  background-color: #eee8d5;
}

h2 {
  color: #93a1a1;
}

.wrapper > .dfn {
  background-color: #b58900;
}

dfn + strong {
  color: #fff;
}

a:not(.no-highlight) {
  background-color: #719e07;
}

[external] {
  background-color: #2694d8;
}

ol li:first-child {
  color: #719e47;
}

ol li:last-child {
  color: #2aa198;
}

li:nth-child(odd) {
  background-color: #657ba3;
}

li:nth-child(even) {
  background-color: #586e75;
}

li:nth-child(3n+3) {
  background-color: #d04b16;
}
